html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: black;
}
#seach {
  position: absolute;
  right: 10px;
  top: 10px;
}

#carrossel {
    margin-bottom: 100px;
    margin-top: 100px;
    display: grid;
    overflow: hidden;
    scroll-behavior: smooth;
    


 
}
body::-webkit-scrollbar{
  display: none;
}


#conteiner::-webkit-scrollbar{
  display: none;
}

h1 {
  color: white;
}
#conteiner {
  overflow: scroll;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, auto);
  margin: 20px 0;
}

.imageposter {
  width: auto;
  height: 300px;
  margin-left: 5px;
  padding: 0 2px;
  transition: 20ms all;
}

.item:hover {
  margin: 0 40px;
  transform: scale(1.2);
}
.logo {
  width: auto;
  height: 5%;
  position: relative;
  bottom: 10px;
  left: 40px;
  border-radius: 5px;
  background: #e0e0e0;


}
